<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_Customermenu>
            <version>1.1.0</version>
        </Loewenstark_Customermenu>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Loewenstark_Customermenu_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customermenu>
                                            <title>Customermenu</title>
                                        </customermenu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Loewenstark_Customermenu>
                    <files>
                        <default>Loewenstark_Customermenu.csv</default>
                    </files>
                </Loewenstark_Customermenu>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customermenu>
            <general>
                <active>0</active>
                <file>customermenu.log</file>
            </general>
        </customermenu>
    </default>
</config>
